__pycache__/
*.py[cod]
*.so

*.c

env/
venv/
.venv/

.Python
*.egg-info/
*.egg
build/
dist/
*.whl

*.env

.ipynb_checkpoints/

*.log
*.out
*.err

*.tmp
*.temp
*.bak
*.swp
*.swo
*.DS_Store

*.~*

.idea/
.vscode/
node_modules/

project-doc.md

Untitled.ipynb

topo_explorer.egg-info/
